.gpt3__whatgpt3 {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background-color: var(--color-footer);

    
 /* ff 3.6+ */
 background:-moz-radial-gradient(circle at 5% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

 /* safari 5.1+,chrome 10+ */
 background:-webkit-radial-gradient(circle at 5% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

 /* opera 11.10+ */
 background:-o-radial-gradient(circle at 5% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

 /* ie 10+ */
 background:-ms-radial-gradient(circle at 5% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

 /* global 92%+ browsers support */
 background:radial-gradient(circle at 5% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

}

.gpt3__whatgpt3 {
    padding: 4rem 2rem;
}

.card-gradient {
    width: 38px;
    height: 3px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
}

.gpt3__card-new {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25rem;
}

/* .card-first {
    gap: 25rem;
} */

.card__content h1,
.gpt3__card-new h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.card__content p,
.gpt3__card p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #81AFDD;
}

.card__content {
    width: 80%;
}

.gpt3__whatgpt3-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0px;
}

.gpt3__whatgpt3-content h1 {
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    width: 40%;
    margin: 1rem 0 2rem;
}

.gpt3__whatgpt3-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #81AFDD;
    
}

.gpt3__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}



/* --------- MEDIA QUERY -------------- */

/* ----------- 1024PX ------------------ */
@media screen and (max-width : 1024px) {
    .gpt3__card-new {
        gap: 20rem;
    }

    .gpt3__card-new p {
        line-height: 25px;
    }

    .gpt3__whatgpt3-content {
        font-size: 30px;
        line-height: 40px;
    }

    .card__content p {
        line-height: 25px;
    }
}

/* --------- MEDIA QUERY -------------- */

/* ----------- 768PX ------------------ */
@media screen and (max-width : 768px) {
    .gpt3__card-new {
        display: block;
    }

    .gpt3__card-new p {
        line-height: 25px;
    }

    .gpt3__whatgpt3-content {
        font-size: 30px;
        line-height: 40px;
        /* width: 65%; */
    }

    .gpt3__whatgpt3-content h1 {
        width: 75%;
    }

    .gpt3__card-container {
        display: block;
    }

    .gpt3__card {
        margin-bottom: 1rem;
    }

    .card__content h1 {
        line-height: 55px;
    }

    .card__content p {
        line-height: 25px;
    }
}

/* ----------- LARGE MOBILE ------------------ */
@media screen and (max-width: 425px) {
    .gpt3__whatgpt3-content {
        display: block;
    }

    .gpt3__whatgpt3-content h1 {
        /* font-size: 30px; */
        width: 100%;
    }
}

/* ----------- SMALL MOBILE ------------------ */
@media screen and (max-width: 320px) {
    .gpt3__whatgpt3 {
        padding: 2re 2rem;
    }

    .gpt3__whatgpt3-content {
        margin: 2rem 0;
    }
}
